<%= simple_form_for post do |f| %>
<div class="row">
  <div class="col-md-12">
    <%= f.input :title %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= f.input :description %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
   <%= f.input :category, collection: Post::CATEGORIES, include_blank: false %>
  </div>
  <div class="col-md-6">
    <%= f.association :author %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= f.label :content %>
    <%= f.rich_text_area :content %>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12 text-center">
    <%= f.button :submit, class: 'btn btn-success btn-lg' %>
    <%= f.button :button, 'Cancel', type: :reset, class: 'btn btn-warning btn-lg' %>
  </div>
</div>

<% end %>
