<div class="blog-post border-bottom pb-4 mb-4">
  <h2 class="blog-post-title"> <a href="<%= post_path(post) %>"> <%= post.title %> </a></h2>
  <p class="blog-post-meta"><%= post.description %> </p>
  <div class="row">
    <div class="col-md-2">
      <span data-toggle="tooltip" data-placement="top" title="Comments"><i class="fas fa-comment"></i> <small>(<%= post.comments.count%>)</small></span>
    </div>
    <div class="col-md-8 text-center"><%= time_ago_in_words post.created_at %> by <strong><%= post.author.name %></strong> </div>
    <div class="col-md-2 text-right pr-5"><small><span class="badge badge-<%= post.category %>"><%= post.category %> </span></small></div>
  </div>
</div><!-- /.blog-post -->
